.bxl-twitter
{
    color: #fff;
    padding: 10px;
    text-shadow: 0 0 10px #fff;
}

.bxl-instagram-alt
{
    color: #fff;
    padding: 10px;
    text-shadow: 0 0 10px #fff;
}

.bxl-linkedin-square
{
    color: #fff;
    padding: 10px;
    text-shadow: 0 0 10px #fff;
}

.bx-mail-send
{
    color: #fff;
    padding: 10px;
    text-shadow: 0 0 10px #fff;
}

p1
{
    color: #fff;
    text-shadow: 0 0 10px #fff;
}